@import './styles/style.css';

.tit-box-2 {
  font-size: 4rem;
  color: var(--vinho-escuro);
  font-family: var(--fonte-titulo);
  align-items: center;
  margin: 0 4vw;
  animation: entradaEsquerda 1s ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
}

.tit-box-3 {
  font-size: 3rem;
  color: var(--vinho-escuro);
  font-family: var(--fonte-titulo);
  align-items: center;
  text-align: center;
  margin: 0 4vw;
  animation: entradaEsquerda 1s ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
}

#btn-prod {
  padding: 1rem;
  background-color: var(--primario-flush);
  border: none;
  border-radius: .5rem;
  text-transform: uppercase;
  color: var(--branco-pampa);
  font-family: var(--fonte-paragrafo);
  text-decoration: none;
}

#btn-prod-2 {
  padding: 1rem;
  background-color: var(--primario-flush);
  border: none;
  border-radius: .5rem;
  text-transform: uppercase;
  color: var(--branco-pampa);
  font-family: var(--fonte-paragrafo);
  text-decoration: none;
  max-width: 50%;
}


#btn-prod:hover {
  background-color: var(--gold);
  transform: scale(1.5);
  text-decoration-line: underline;
  color: var(--vinho-escuro);
}

.card-text-loja {
  min-height: 8rem;
}

.prod-text-loja {
  min-height: 4rem;
}

.form {
  font-family: var(--fonte-paragrafo);
}

#logo:focus {
  outline: none;
}

#banner-1 {
  background-color: var(--secundario-cranberry);
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  padding: 7rem 4rem;
}

.tit-ban-1 {
  font-size: 4.5vw;
  color: var(--branco-pampa);
  font-family: var(--fonte-titulo);
  align-items: center;
  width: 80%;
}

.p-ban-1 {
  padding: auto;
  color: var(--branco-pampa);
  font-family: var(--fonte-paragrafo);
  font-size: 1rem;
    
}

#bt-gr {
  background-color: var(--primario-flush);
  color: var(--branco-pampa);
  font-family: var(--fonte-titulo);
  text-transform: uppercase;
  width: auto;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--branco-pampa);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.tit-ban-2 {
  font-size: 475%;
  color: var(--vinho-escuro);
  font-family: var(--fonte-titulo);
  align-items: center;
}


@keyframes entradaEsquerda {
  from {
      opacity: 0;
      translate: -100vw 0;
  }

  to {
      opacity: 1;
      translate: 0 0;
  }
}

