@import './styles/style.css';

.tit-box-2 {
  font-size: 4rem;
  color: var(--vinho-escuro);
  font-family: var(--fonte-titulo);
  align-items: center;
  margin: 0 4vw;
  background-color: var(--branco-fundo);
  animation: entradaEsquerda 1s ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 50%;
}

@keyframes entradaEsquerda {
  from {
      opacity: 0;
      translate: -100vw 0;
  }

  to {
      opacity: 1;
      translate: 0 0;
  }
}